<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="styles/output.css" /> 
    <link rel="stylesheet" href="@Assets["LehmanCustomConstruction.styles.css"]" />
    
    @* <link rel="stylesheet" href="@Assets["styles/output.css"]" />  *@
    @* <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />  *@
    @* <link rel="stylesheet" href="styles/app.min.css" /> *@
    @* <RadzenTheme Theme="standard" /> *@
    <link rel="icon" type="image/png" href="favicon.png" />

    <RadzenTheme Theme="material" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />

    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>

   
</body>

</html>
